:root {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  --scroll-y: 0px;
  --scroll-y-percent: 0;
  --clock-minute-second-color: #006689;
  --name-bio-footer-color: #c3e8ff;
  --clock-hour-color: #4e616d;
  --widget-bg-color: #d1e5f3;
  --widget-color: #091e28;
  --project-title-color: #605a7d;
  --project-bg-color: #dce3e9;
  --project-description-color: #41484d;
  --clock-color: #78d1ff;
  --tx: 0px;
  --ty: 0px;
  --square-size: 69px;
  --gap: 40px;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-top: 45vh;
  margin-bottom: 20px;
  transform: translateY(-50%);
}

@media (max-width: 1300px) {
  .banner {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 880px) {
  .banner {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.avatar img {
  width: clamp(120px, 26vmin, 200px);
  height: clamp(120px, 26vmin, 200px);
  border-radius: 50%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  pointer-events: none;
  user-select: none;
  animation-name: avatar;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

@keyframes avatar {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.name {
  width: min(500px, 100%);
  max-width: 100%;
  position: relative;
}

.name-svg {
  background-color: color-mix(in srgb, var(--name-bio-footer-color) clamp(25%, 350% * var(--scroll-y-percent, 0) + 25%, 35%), transparent);
  backdrop-filter: saturate(2) brightness(2.5) blur(12px);
}

.name-text-overlay {
  position: absolute;
  font-size: 50px;
  top: 0;
  pointer-events: none;
  z-index: -1;
  filter: opacity(0);
}

.bio {
  opacity: clamp(0.7, 0.75 * var(--scroll-y-percent, 0) + 0.7, 0.85);
  color: color-mix(in srgb, var(--name-bio-footer-color), #fff clamp(10%, -275% * var(--scroll-y-percent, 0) + 65%, 65%));
  user-select: none;
  font-size: clamp(18px, 3vmin, 25px);
  font-weight: 400;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 45.4545454545%, rgba(0, 0, 0, 0) 54.5454545455%);
  -webkit-mask-size: 220% 100%;
  -webkit-mask-repeat: no-repeat;
  animation-name: bio-fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.9s;
  animation-fill-mode: both;
}

@keyframes bio-fade {
  0% {
    -webkit-mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0% 0;
  }
}

.down-arrow {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.3s ease;
}

.down-arrow-inner {
  font-size: min(60px, 12vw);
  width: 1em;
  height: 1.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  cursor: pointer;
  color: color-mix(in srgb, var(--name-bio-footer-color), #fff 30%);
  opacity: 0.55;
  transition: opacity 0.25s ease;
}

.down-arrow-inner:hover {
  opacity: 0.8;
}

html.scrolled .down-arrow {
  opacity: 0;
  pointer-events: none;
}

.content {
  margin-top: max(0px, calc(-140vh * var(--scroll-y-percent) + 35vh));
  margin-bottom: calc(35vh - max(0px, calc(-140vh * var(--scroll-y-percent) + 35vh)));
  --opacity: calc(var(--scroll-y-percent) / 0.15);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 60px;
}

.bento {
  --template-columns: 8;
  display: grid;
  grid-template-columns: repeat(var(--template-columns), 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-column: span 8;
}

.projects {
  grid-column: span 4;
}

@media screen and (max-width: 1300px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 880px) {
  .content {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .bento {
    --template-columns: 4;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .widget.mobile-aspect-ratio {
    height: unset;
    aspect-ratio: var(--mobile-aspect-ratio);
  }

  .widget.mobile-specific-size {
    --c: min(var(--m-columns, 2), var(--template-columns));
    --r: var(--m-rows, 2);
  }

  .projects {
    display: flex !important;
  }
}

.widget {
  --c: min(var(--columns, 2), var(--template-columns));
  --r: var(--rows, 2);
  grid-column: span var(--c);
  grid-row: span var(--r);
  height: calc(var(--square-size) * var(--r) + var(--gap) * (var(--r) - 1));
  width: calc(var(--square-size) * var(--c) + var(--gap) * (var(--c) - 1));
}

.widget.one-line:not(.one-line-mobile-only):not(.one-line-pc-only)>a {
  align-items: center;
}

.widget.one-line:not(.one-line-mobile-only):not(.one-line-pc-only)>a:not([style*="--padding"]) {
  padding-top: 0;
  padding-bottom: 0;
}

.widget.one-line:not(.one-line-mobile-only):not(.one-line-pc-only)>a .widget-content {
  flex-direction: row;
  align-items: center;
}

.widget.one-line:not(.one-line-mobile-only):not(.one-line-pc-only)>a .widget-icon {
  height: 35px;
  width: 35px;
  min-height: 35px;
  min-width: 35px;
}

.widget.one-line:not(.one-line-mobile-only):not(.one-line-pc-only)>a .widget-meta {
  margin-top: 0;
  margin-left: 20px;
}

@media screen and (max-width: 880px) {

  .widget.one-line.one-line-mobile-only>a {
    align-items: center;
  }

  .widget.one-line.one-line-mobile-only>a:not([style*="--padding"]) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .widget.one-line.one-line-mobile-only>a .widget-content {
    flex-direction: row;
    align-items: center;
  }

  .widget.one-line.one-line-mobile-only>a .widget-icon {
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
  }

  .widget.one-line.one-line-mobile-only>a .widget-meta {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media screen and (min-width: 880px) {

  .widget.one-line.one-line-pc-only>a {
    align-items: center;
  }

  .widget.one-line.one-line-pc-only>a:not([style*="--padding"]) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .widget.one-line.one-line-pc-only>a .widget-content {
    flex-direction: row;
    align-items: center;
  }

  .widget.one-line.one-line-pc-only>a .widget-icon {
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
  }

  .widget.one-line.one-line-pc-only>a .widget-meta {
    margin-top: 0;
    margin-left: 20px;
  }
}

.widget {
  font-size: 16px;
  border-radius: 24px;
  overflow: hidden;
  touch-action: manipulation;
  color: var(--widget-color);
  background-color: var(--widget-bg-color);
  opacity: var(--opacity, 1);
  user-select: none;
  --x: 0deg;
  --y: 0deg;
  transform: perspective(var(--p, 525px)) translateZ(var(--z, 0px)) rotateX(var(--x)) rotateY(var(--y));
  transition: transform 0.15s linear 0s, background-color 0.2s linear 0s;
}

.widget:active {
  --x: calc(var(--dx, 0deg) * 1.1);
  --y: calc(var(--dy, 0deg) * 1.1);
  --p: 300px;
  --z: -15px;
}

.widget>a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 24px;
  color: inherit;
  box-sizing: border-box;
}

.widget>a[disabled] {
  pointer-events: none;
}

.widget-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

.widget-icon {
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  box-shadow: 0 1px 2px #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: #fff;
  fill: #fff;
}

.widget-icon svg {
  width: var(--size, 50%);
  height: var(--size, 50%);
}

.widget-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.widget-meta {
  flex: 1;
  margin-top: 10px;
}

.widget-name {
  font-weight: 700;
}

.widget-description {
  font-size: 0.9em;
  opacity: 0.7;
}

.widget-button {
  border-radius: 6px;
  border-width: 1px;
  background-color: color-mix(in srgb, transparent, #000 8%);
  display: block;
  width: fit-content;
  padding: 3px 10px;
  font-size: 0.85em;
  font-weight: 700;
  transition: background-color 0.2s ease;
}

.widget-button:hover {
  background-color: color-mix(in srgb, transparent, #000 16%);
}

.widget-image {
  height: 100%;
  aspect-ratio: 1.4;
  overflow: hidden;
  margin-left: 1.5rem;
  border-radius: 10px;
}

.widget-image-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff2;
}

.widget .image-widget {
  background-color: var(--bg-color, transparent);
  padding: var(--padding, 0px);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.widget .image-widget .widget-pure-img {
  width: 100%;
  height: 100%;
  background-size: var(--bg-size, cover);
  background-position: var(--bg-pos, center);
  background-repeat: no-repeat;
  border-radius: 10px;
}

@media screen and (max-width: 880px) {
  .widget .image-widget .widget-pure-img {
    background-position: var(--bg-m-pos, var(--bg-pos, center));
    background-size: var(--bg-m-size, var(--bg-size, cover));
  }
}

.clock-widget {
  padding: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.widget-clock-face {
  aspect-ratio: 1/1;
  height: 100%;
  position: relative;
}

.widget-clock-face>* {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.widget-clock-bg {
  fill: var(--clock-color);
}

.widget-clock-hand {
  width: 100%;
  height: 100%;
}

.widget-clock-hand.widget-clock-hour-hand:before,
.widget-clock-hand.widget-clock-minute-hand:before {
  content: "";
  display: block;
  width: var(--w);
  height: calc(var(--h) + 4%);
  position: absolute;
  left: calc(50% - var(--w) / 2);
  bottom: 46%;
  border-radius: 50px;
  background-color: var(--color);
}

.widget-clock-hand.widget-clock-hour-hand {
  --w: 8%;
  --h: 25%;
  --color: var(--clock-hour-color);
}

.widget-clock-hand.widget-clock-minute-hand {
  --w: 8%;
  --h: 34%;
  --color: var(--clock-minute-second-color);
}

.widget-clock-hand.widget-clock-second-hand {
  transition: transform 0.3s ease;
  --color: var(--clock-minute-second-color);
  filter: saturate(0.6) brightness(1.1);
}

.widget-clock-hand.widget-clock-second-hand:before {
  content: "";
  display: block;
  position: absolute;
  width: 9.5%;
  height: 9.5%;
  border-radius: 50px;
  top: 6.5%;
  left: 45.25%;
  background-color: var(--color);
}

.widget-clock-date {
  font-size: 1.2em;
  opacity: 0.8;
}

.widget-clock-date .widget-clock-date-text {
  font-weight: 700;
}

.widget-clock-time {
  font-size: 2.5em;
  min-width: 7ch;
  font-weight: 700;
  margin-bottom: 0.1em;
}

.widget-clock-minute~* {
  opacity: 0.4;
}

.widget-clock-timezone {
  font-size: 0.95em;
}

.widget-clock-timezone-utc-offset {
  opacity: 0.6;
}

.widget-clock-timezone-diff {
  opacity: 0.8;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  background: var(--project-bg-color);
  border-radius: 16px;
  overflow: hidden;
  opacity: var(--opacity, 1);
  --x: 0deg;
  --y: 0deg;
  transform: perspective(var(--p, 525px)) translateZ(var(--z, 0px)) rotateX(var(--x)) rotateY(var(--y));
  transition: transform 0.15s linear 0s, background-color 0.2s linear 0s;
}

.project:active {
  --x: calc(var(--dx, 0deg) * 0.5);
  --y: calc(var(--dy, 0deg) * 0.5);
  --p: 300px;
  --z: -8px;
}

.project>a {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px;
  gap: 5px;
  color: var(--project-description-color);
  user-select: none;
}

.project-title {
  font-weight: 700;
  color: var(--project-title-color);
  font-size: 1.08em;
}

.project-description {
  flex: 1;
}

.project-metas {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  opacity: 0.75;
}

.project-meta {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.project-meta.project-language {
  flex: 1;
  justify-content: flex-end;
}

.project-language-color {
  height: 0.6em;
  width: 0.6em;
  aspect-ratio: 1/1;
  border-radius: 100%;
  margin-right: 0.1em;
}

#background {
  position: fixed;
  z-index: -2;
  background-color: #242424;
  --blur: clamp(0px, calc(50px * var(--scroll-y-percent, 0) + -5px), 10px);
  --brightness: 0.7;
  filter: blur(var(--blur)) brightness(var(--brightness));
  inset: -30px;
}

.background-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: fadeIn 1s ease;
}

body:not(.touch-device) #background {
  --multiplier: clamp(0, calc(-5 * var(--scroll-y-percent, 0) + 1.5), 1);
  transform: translate(calc(var(--tx, 0) * var(--multiplier, 1)),
      calc(var(--ty, 0) * var(--multiplier, 1)));
  transition: transform 0.1s linear 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.footer {
  height: 15vh;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35vh;
}

.footer-inner {
  text-align: center;
  opacity: 0.65;
  color: color-mix(in srgb, var(--name-bio-footer-color), #fff 50%);
  transition: opacity 0.3s ease;
  line-height: 2;
}

.footer-inner:hover {
  opacity: 0.8;
}

.footer-name {
  color: inherit;
  font-weight: 700;
}

.footer-name.footer-link {
  color: var(--clock-color);
  transition: filter 0.3s ease;
}

.footer-name.footer-link:hover {
  filter: brightness(1.2);
}

#root {
  max-width: min(100% - 100px, 1280px);
  margin: 0 auto;
}

@media (max-width: 768px) {
  #root {
    max-width: calc(100% - 50px);
  }
}

a {
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

* {
  user-select: none;
}

html {
  overflow-y: auto;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 14px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--clock-color), transparent clamp(55%, -83.3333333333% * var(--scroll-y-percent, 0) + 80%, 80%));
  border-radius: 100px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(in srgb, var(--clock-color), transparent 30%);
  border: 3px solid transparent;
}
